body {
	color: black;
	text-align: center;
	font-family: 'Helvetica';
	font-size: 16px;
	background-image: url("./background/desk.jpg");
}

table {
	margin-left: 40%;
	width: 20%;
}

#main {
	width: 80%;
	background-color: rgba(255, 255, 255, .9);
	padding-top: 10px;
	padding-bottom: 10px;
	margin-left: 10%;
	min-height: 110vh;
}

#category {
	text-align: left;
}

